.navbar{
    height: 50px;
}
/**
 * return-btn 的 padding 用来渐变的
 */
.return-btn,
.tips{
    padding: 3px;
    padding-left: 30px;
}
.return-btn,
.tips,
.mainmenu,
.submenu{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/**
 * return btn
 */
.return-btn {
  background: #DAB82E;
  color: #4285f4;
  margin: 0;
  border-radius: 0;
}

paper-button[raised].return-btn {
  background: #4285f4;
  color: #fff;
}
/**
 * tips
 */
.tips{
    background: #333332; 
}
.tips span{
  color: #E0C453;
  font-weight: bold;
  font-size: 18px;
}
/**
 * main menu
 */
.mainmenu{
    background: #E0C453;
}
/**
 * sub menu
 */
.submenu{
    background: #E0C453;
}

.hide{
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    flex: 0 !important;
}